.main {
    background-color: rgb(203, 203, 203);
    will-change: filter;
    transition: filter 300ms;
    border-radius: 0;
    color: black;
    font-weight: 800;
    font-size: larger;
    padding: 15px;
    min-width: 180px;
}

.main:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
    background-color: #646cffaa;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .main {
      animation: logo-spin infinite 20s linear;
    }
  }